.qv-object-TextObject .qv-object-nav {
	display: none;
  }

.qv-object-TextObject {
  width: 100%;
  height: 100%;
}



/* Note: the container needs height for the link button to work */

#myFirstQuill{
  height: 100%;
	/* overflow: auto; */
}
